* {
  font-family: Impact;
  font-size: 1.3rem;
}

body {
  background: rgb(255, 237, 179);
}

.banner {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* Default Card style */
.card {
  background-color: #ffff00;
  background-repeat: no-repeat;
  background-size: cover;

  width: auto;
  height: auto;

  border-radius: 10%;
  border: none;
  margin: 2px;
  transition:.25s;
  opacity: 0.9;
  transform: rotateY(180deg);

  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hover effect */
.hover:hover {
  box-shadow: 0 0 3pt 2pt rgb(181, 101, 29);
}

/* Marked card */
.card.marked {
  background-image: url(assets/flag.png);
  background-color: transparent;
  opacity: 1;
  transform: rotateY(0deg);
}

/* Bomb card */
.card.bomb {
  background-image: url(assets/bomb.png);
  background-color: transparent;
  opacity: 1;
  transform: rotateY(0deg);
}
/* Shown card */
.card.shown {
  background-color: rgb(181, 101, 29);
  opacity: 1;
  transform: rotateY(0deg);
  background-size: 100% 100%;

}

/* Flipped card */
.card.flipped {
  background-color: ;
  opacity: 1;
  transform: rotateY(0deg);
}

/* Number Cards */
.card.one{
  background-image: url(assets/one.png);
  opacity: 1;
  transform: rotateY(0deg);
  text-align: center;
  background-size: 100% 100%;
  
}

.card.two {
  background-image: url(assets/two.png);
  opacity: 1;
  transform: rotateY(0deg);
  background-size: 100% 100%;

}

.card.three {
  background-image: url(assets/three.png);
  opacity: 1;
  transform: rotateY(0deg);
  background-size: 100% 100%;

}

.card.four {
  background-image: url(assets/four.png);
  opacity: 1;
  transform: rotateY(0deg);
  background-size: 100% 100%;

}

.card.five {
  background-image: url(assets/five.png);
  opacity: 1;
  transform: rotateY(0deg);
  background-size: 100% 100%;

}

.card.six {
  background-image: url(assets/six.png);
  opacity: 1;
  transform: rotateY(0deg);
  background-size: 100% 100%;

}

.card.seven {
  background-image: url(assets/seven.png);
  opacity: 1;
  transform: rotateY(0deg);
  background-size: 100% 100%;

}

.card.eight {
  background-image: url(assets/eight.png);
  opacity: 1;
  transform: rotateY(0deg);
  background-size: 100% 100%;

}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border-radius: 10px;
  padding:5px;
  width: calc(70vh);
}

.grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  flex-wrap: wrap;
  align-items: center;
}

.menuButton {
  padding: 5px 0.5em ;
  border: 0px solid gray;
  background-color: rgba(128, 128, 128, 0.233);
  margin: 5px;
  cursor: pointer;
  border-radius: 0.5em;
  font-size:1em;
}

.menuButton:hover {
  color: white;
  background: black;
}

.gridwrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0s;
  transition: all 0s;

  visibility: hidden;
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}
#overlay * {
  pointer-events: none;
}

#overlay.active {
  visibility: visible;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

#overlayin {
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px black;
}

#overlayin p {
  text-align: center;
  font-size: 1em;
}

p.big {
  font-size: 2em !important;
}

p.darker {
  color: #aaa;
}

p.glow {
  animation: glow 1s infinite alternate-reverse;
}

@keyframes glow {
  from { text-shadow: 0 0 20px rgb(255, 255, 0); }
  to { text-shadow: 0 0 20px rgb(255, 115, 0); }
}

#overlay.active #overlayin {
  opacity: 0;
  animation: spinIn 1s ease-in-out;
  animation-fill-mode: forwards;
}

#overlayin * {
  margin: 0px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes spinIn {
  from { transform: scale(0.1) rotateX(0deg) ; opacity: 0; }
  to { transform: scale(1) rotateX(360deg) ;  opacity: 1; }
}

#sound {
  width: 40px;
  height: 30px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  content: url('sound-on.webp');
  display: block;
  outline: none;
  user-select: none;
}

#sound:checked {
  content: url('sound-off.webp');
}

.status {
  margin-top: 5px;
  text-align: center;
  color: gray;
}